<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.friedkin.GSTPartsLookup"
        version   = "1.0.0">
  <name>GST Parts Lookup</name>

  <description>
    GST Parts Lookup.
  </description>

  <gap:plugin name="com.phonegap.plugins.barcodescanner"/>

  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="debug-server" required="true">
    <param name="domain" value="http://debug.phonegap.com"/>
    <param name="key" value="willoughby"/>
  </feature>

  <preference name="phonegap-version" value="3.1.0" />
  <preference name="orientation"      value="default" />
  <preference name="target-device"    value="universal" />
  <preference name="fullscreen"       value="false" />
  <preference name="webviewbounce"    value="false" />

  <icon src="cordova/cordova_128.png"/>
  <icon src="cordova/cordova_android_36.png" gap:platform="android" gap:density="ldpi"/>
  <icon src="cordova/cordova_android_48.png" gap:platform="android" gap:density="mdpi"/>
  <icon src="cordova/cordova_android_72.png" gap:platform="android" gap:density="hdpi"/>
  <icon src="cordova/cordova_android_96.png" gap:platform="android" gap:density="xhdpi"/>
  <icon src="cordova/cordova_bb_80.png" gap:platform="blackberry"/>
  <icon src="cordova/cordova_bb_80.png" gap:platform="blackberry" gap:state="hover"/>
  <icon src="cordova/cordova_ios_57.png" gap:platform="ios" width="57" height="57"/>"
  <icon src="cordova/cordova_ios_72.png" gap:platform="ios" width="72" height="72"/>"
  <icon src="cordova/cordova_ios_114.png" gap:platform="ios" width="114" height="114"/>"
  <icon src="cordova/cordova_ios_144.png" gap:platform="ios" width="144" height="144"/>"
  <icon src="cordova/cordova_64.png" gap:platform="webos"/>
  <icon src="cordova/cordova_48.png" gap:platform="winphone"/>
  <icon src="cordova/cordova_173.png" gap:platform="winphone" gap:role="background"/>

  <gap:splash src="cordova/res/screen/android_ldpi_portrait.png.png" gap:platform="android" gap:density="ldpi"/>
  <gap:splash src="cordova/res/screen/android_mdpi_portrait.png" gap:platform="android" gap:density="mdpi"/>
  <gap:splash src="cordova/res/screen/android_hdpi_portrait.png" gap:platform="android" gap:density="hdpi"/>
  <gap:splash src="cordova/res/screen/android_xhdpi_portrait.png" gap:platform="android" gap:density="xhdpi"/>
  <gap:splash src="cordova/res/screen/blackberry_transparent_300.png" gap:platform="blackberry"/>
  <gap:splash src="cordova/res/screen/iphone_portrait.png" gap:platform="ios" width="320" height="480"/>"
  <gap:splash src="cordova/res/screen/iphone_retina_portrait.png" gap:platform="ios" width="640?" height="960"/>"
  <gap:splash src="cordova/res/screen/ipad_portrait.png" gap:platform="ios" width="768" height="1024"/>"
  <gap:splash src="cordova/res/screen/ipad_landscape.png" gap:platform="ios" width="1024" height="768"/>"
  <gap:splash src="cordova/res/screen/windows_phone_portrait.jpg" gap:platform="winphone"/>

</widget>
